{% extends 'base.html' %}
{% block title %}О магазине{% endblock %}
{% block content %}
<h1 class="text-3xl font-bold mb-6 text-primary">О нашем магазине</h1>

<p class="text-gray-400 leading-relaxed max-w-3xl">
Мы — <span class="text-primary font-semibold">ShopZone</span>, современный онлайн-магазин, где технологии, удобство и качество встречаются в одном месте.
Наша цель — сделать покупки простыми, приятными и доступными каждому.
<br><br>
Мы тщательно отбираем товары, сотрудничаем с проверенными поставщиками и постоянно обновляем ассортимент.
ShopZone — это не просто магазин, а команда, которая заботится о каждом клиенте.
</p>
{% endblock %}
