{% extends 'base.html' %}
{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<div class="md:flex gap-10">

  <div class="md:w-1/2">
    {% if product.image %}
      <img src="{{ product.image.url }}" alt="{{ product.title }}" class="w-full h-auto rounded-lg shadow-lg">
    {% else %}
      <img src="https://via.placeholder.com/500x400?text=No+Image" alt="Нет изображения" class="w-full h-auto rounded-lg shadow-lg">
    {% endif %}
  </div>

  <div class="md:w-1/2">
    <h1 class="text-3xl font-bold mb-4 text-primary">{{ product.title }}</h1>
    <p class="text-gray-400 mb-4">{{ product.description }}</p>

    {% if product.active_sale %}
      <div class="text-lg text-gray-400 line-through">₸{{ product.price|floatformat:0 }}</div>
      <div class="text-3xl font-bold text-red-500 mb-2">
        ₸{{ product.discounted_price|floatformat:0 }}
      </div>
      <p class="text-sm text-green-400 mb-6">Скидка {{ product.active_sale.discount_percent }}%</p>
    {% else %}
      <p class="text-primary text-2xl font-bold mb-6">₸{{ product.price|floatformat:0 }}</p>
    {% endif %}

    <form action="{% url 'store:add_to_cart' product.id %}" method="post" class="flex items-center gap-3">
      {% csrf_token %}
      <input type="number" name="quantity" value="1" min="1" class="w-20 p-2 rounded bg-secondary text-gray-200">
      <button type="submit" class="bg-primary text-white px-6 py-3 rounded-xl hover:bg-teal-500 transition">
        Добавить в корзину
      </button>
    </form>
  </div>

</div>
{% endblock %}
