{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<h1 class="text-3xl font-bold mb-6 text-primary text-center">Создать аккаунт</h1>

<form method="post" class="bg-accent p-6 rounded-xl shadow-lg max-w-md mx-auto space-y-4">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="bg-primary text-white px-6 py-3 rounded-lg hover:bg-teal-500 transition w-full">
    Создать аккаунт
  </button>
</form>

<p class="text-center mt-4 text-gray-400">
  Уже есть аккаунт?
  <a href="{% url 'store:login' %}" class="text-primary hover:underline">Войти</a>
</p>
{% endblock %}
